{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      margin: 0;
      padding: 0;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .message{
      background-color: black;
      height: 100vh;
      width: 100vw;
      font-size: 2rem;
      border-radius: 1rem;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-self: center;
    }
    .inner-msg{
      padding-top: 12rem;
    }
  </style>
</head>
<body>
  <div class="message">
    <div class="inner-msg">
      Currently i'm working on this feature to bring the best user experience.<br>
      Thanks for Visiting!
    </div> 
  </div>
</body>
</html>



